* {
    box-sizing: border-box;
    outline: none;
}

html, body{
    background-color: rgb(250, 250, 250);
    font-size: 14px;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100% !important;
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 100%;
}

html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

body{
    height: 100%;
}

.page{
    position: relative;
    height: 100%;
}

.subtitle{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.subtitle .page-back{
    flex: 1 1 20%;
    height: 4.14rem;
}
.subtitle .page-title{
    flex: 1 1 60%;
    height: 4.14rem;
    font-size: 1.4rem;
    text-align: center;
    line-height: 4.14rem;
}
.subtitle .extension{
    flex: 1 1 20%;
    height: 4.14rem;
}
.subtitle .desc{
    flex: 1 1 100%;
    text-align: center;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #eee;
}

.viewport {
    width: 100%;
    height: calc(100vh - 4rem);
    overflow: scroll;
    position: relative;
}

.bin-cell-desc {
    margin: 1rem 0.6rem 0.8rem;
    font-size: 12px;
    color: #8f8f94;
    font-weight: normal;
}
.bin-cell-desc:nth-of-type(1) {
    margin-top: 1.8rem;
}

.bin-cell-wrapper{
    position: relative;
}

.bin-cell-wrapper:before{
    position: absolute;
    right: 0;
    left: 0;
    top: -1px;
    height: 1px;
    content: "";
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #d9d9d9;
}

.bin-cell-wrapper:after{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1px;
    content: "";
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #d9d9d9;
}

.bin-cell{
    display: block;
    background-color: #fff;
    box-sizing: border-box;
    height: 3.2rem;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

.bin-cell:after{
    position: absolute;
    right: 0;
    left: 0.8rem;
    bottom: 0;
    height: 1px;
    content: "";
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #d9d9d9;
}

.bin-cell:last-child:after {
    height: 0;
}

.bin-cell-left{
    position: absolute;
    height: 100%;
    left: 0;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    z-index: 1;
}

.bin-cell-right{
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    z-index: 1;
}

.bin-cell-btnGroup{
    height: 100%;
}

.bin-cell-content{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    width: 100%;
    padding: 0 0.8rem;
    line-height: 1;
    height: 100%;
}
.bin-cell-title{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.bin-cell-text{
    font-size: 1.1rem;
    vertical-align: middle;
}

.bin-cell-value{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*****/
.bin-switch{
    flex: 1;
    width: 52px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 26px;
    line-height: 28px;
    background-color: #ccc;
    position: relative;
    transition: all .2s ease-in-out;
}

.bin-switch:after{
    content: "";
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color: #fff;
    position: absolute;
    left: 1px;
    top: 1px;
    transition: left .2s ease-in-out,width .2s ease-in-out;
}

.bin-switch:active:after{
    width: 30px;
}

.bin-switch-checked{
    border-color: #39f;
    background-color: #39f;
}

.bin-switch-checked:after{
    left: 23px;
}

.bin-switch-checked:active:after{
    left: 19px;
}

.bin-switch-inner{
    color: #fff;
    font-size: 12px;
    position: absolute;
    left: 31px;
}

.bin-switch-checked .bin-switch-inner{
    left: 7px;
}

.bin-switch-disabled{
    cursor: not-allowed;
    background: #f3f3f3;
    border-color: #f3f3f3;
}

.bin-switch-disabled:after {
    background: #ccc;
    cursor: not-allowed;
}

.bin-switch-disabled .bin-switch-inner {
    color: #ccc;
}

